.herosection {
  background: url('../assets/images/hero.png') no-repeat center center;
  height: 60vh;
    background-size: cover;
  padding-left: 2rem;
  padding-top: 4rem;
  color: white;

}

/* .herosection::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.herosection > * {
  position: relative;
  z-index: 2;
} */